.__floating-labels {
    display: block;
    position: relative;
}

.__floating-labels input,
.__floating-labels label {
    height: 3.125rem;
    padding: .75rem;
}

.__floating-labels > textarea {
    height: 6.25rem;
    padding: .75rem;
    resize: none;
    overflow: hidden;
}

.__floating-labels select {
    height: 3.125rem;
    padding: .75rem;
}

.__floating-labels label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: var(--gray-dark);
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
}

.__floating-labels input::-webkit-input-placeholder,
.__floating-labels textarea::-webkit-input-placeholder {
    color: transparent;
}

.__floating-labels input::-moz-placeholder,
.__floating-labels textarea::-moz-placeholder {
    color: transparent;
}

.__floating-labels input::placeholder,
.__floating-labels textarea::placeholder {
    color: transparent;
}

.__floating-labels input:not(:-moz-placeholder-shown),
.__floating-labels textarea:not(:-moz-placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.__floating-labels input:not(:placeholder-shown),
.__floating-labels textarea:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.__floating-labels input:-webkit-autofill,
.__floating-labels textarea:-webkit-autofill {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.__floating-labels select.placeholder-hidden {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.__floating-labels input:not(:-moz-placeholder-shown) ~ label,
.__floating-labels textarea:not(:-moz-placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: var(--gray);
}

.__floating-labels input:not(:placeholder-shown) ~ label,
.__floating-labels textarea:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: var(--gray);
}

.__floating-labels input:-webkit-autofill ~ label,
.__floating-labels textarea:-webkit-autofill ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: var(--gray);
}

.__floating-labels select.placeholder-hidden ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: var(--gray);
}

.__floating-labels input:focus ~ label,
.__floating-labels select:focus ~ label,
.__floating-labels textarea:focus ~ label {
    color: var(--gray);
}
